* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.msg {
    font-weight: bold;
}

header {
    height: 65px;
    width: 100%;
    background-image: linear-gradient(90deg, #95a5a6, #2c3e50);
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    margin: 5px;
    line-height: 50px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    border-radius: 5px;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.active a {
    background-color: rgba(255, 255, 255, 0.3);
}



/* home */
.home {
    padding: 100px 0 100px 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg, #95a5a6, #2c3e50);
    color: white;
    text-align: center;
}

.home h1 {
    font-size: 50px;
}

.home h2 {
    margin: 50px 0;
    text-shadow: 5px 5px 10px #000000;
}


/* img batas */
.img-batas img {
    top: -5vw;
    position: relative;
    float: left;
    width: 20vw;
    animation: dropbatas 5s ease;
}



/* projects */
.projects {
    margin: 0px 0px 0px 90px;
    top: 10vw;
    display: inline-block;
    height: 50vw;
    color: black;
}

.projects h1 {
    text-align: center;
    margin-bottom: 3vw;
}




/* about */
.about {
    margin: -6px 0px 0px 0px;
    position: relative;
    padding: 100px 0 100px 0;
    /* background-color: #0099ff; */
    background-image: linear-gradient(180deg, #0099ff, #1E50D8);
    color: black;
    text-align: center;
}

.slider img {
    margin-top: 3vw;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.about blockquote {
    margin-top: 3vw;
}

.about .slider {
    display: none;
}





/* contact */
.contact {
    position: relative;
    margin: 100px 0px 0px 0px;
    padding: 100px 0 100px 0;
    background-image: linear-gradient(to right, #1E50D8, #E8EB25);
    color: black;
}

.contact h1 {
    text-align: center;
}

.contact p {
    text-align: center;
    margin: 20px 0 50px 0;
}

.contact #my-form-status {
    text-align: left;
    height: 0;
    background: red;
    animation: dropbatas 5s ease;
}

.form img {
    float: right;
    display: inline-block;
    width: 30vw;
    margin: 2vw;
    animation: dropcontact 5s ease;
}

.contact input,
textarea {
    border-radius: 5px;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc !important;
    display: block;
    padding: 8px;
    width: 50%;
}

.contact input:focus,
textarea:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}


.contact input::placeholder,
textarea::placeholder {
    color: #1E50D8;
    font-weight: bold;
}

.sosial-media {
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

.sosial-media a {
    margin: 0 50px;
}


.sosial-media .fb {
    color: #3b5998;
}

.sosial-media .twt {
    color: #1DA1F2;
}

.sosial-media .yt {
    color: #FF0000;
}














/* footer */
#footer {
    font-size: 10px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    background-color: #27272a;
}
